* {
	box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

div, label, input[type="text"] {
	display: block;
}

input[type="file"] {
	display: none;
}

.pg-contents-wrapper {
	height: auto;
	background-color: #F67820;
}

header {
	display: inline-block;
	text-align: center;
	padding: 5px;
	width: 100%;
}

input[type="text"], input[type="checkbox"], input[type="submit"] {
	outline: none;
}

ul {
	padding: 30px;
	margin: 0px;
}

li {
	padding: 5px 0px;
}

#kklogo {
	padding: 10px;
}

#kklogo img {
	width: 210px;
}

#titlename {
	padding: 3px;
}

video.full { 
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 10;
}
	
video.med {
	max-width: 50%;
	width: auto;
	height: auto;
}
	
#outdiv {
	margin: 5px 0px;
    	border: 1px solid #002E44;
	height: auto;
}

.icon-wrap {
	    width: 50%;
	    padding: 5px 0px;
	    float: left;
	    text-align: center;
		cursor: pointer;
}

.icon {
	padding: 10px;
	border: 2px solid black;
	border-radius: 30px;	
}
	
.button {
    background-color: #0c7d49; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {width: 100%;}

.w3-modal {
	z-index: 100 !important;
}

#screening, #flipp {
	padding-bottom: 5px;
}
	
#screenbtn, #flipbtn {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 5px;
}

.screenbtn-group {
	position: absolute;
	z-index: 20;
}

.screenfull {
	top: 1%;
	left: 1%;
}

.screennorm {
	top: 23%;
	left: 30%;
}

.clear {
	clear: both;
}

.empty {
	float: left;
	width: 25%;
	height: 0.1px;
}

@media screen and (max-width: 480px) {
	.wrap {
		padding: 0 !important;
	}
	
	.side-w {
		width: 0% !important;
	}
	
	.allwrap {
		width: 100% !important;
	}
}

@media screen and (min-width: 480px) and (max-width: 600px) {
	.side-w {
		width: 5% !important;
	}
	
	.allwrap {
		width: 90% !important;
	}
}

@media screen and (min-width: 600px) and (max-width: 880px) {
	.side-w {
		width: 5% !important;
	}
	
	.allwrap {
		width: 90% !important;
	}
	
	.screennorm {
		top: 49%;
		left: 38%;
	}
}

.qr-contents {
	height: -webkit-fill-available;
}

.contents {
	width: 100%;
	padding: 10px 20px;
	height: -webkit-fill-available;
}

.wrap {
	padding: 10px;
	float: left;
}

.side-w {
	width: 15%;
}

.allwrap {
	width: 70%;
	height: auto;
	background-color: #FFFFFF;
}

.headmain, .form-wrapper, .qrdec-wrapper {
	width: 100%;
}

.side {
	height: 10px;
	background-color: #F67820;
}

.form-row {
	margin: 15px 0px;
	padding: 2px 5px;
}

.form-row p {
	margin: 5px 0px;
}

.termsandcond {
	overflow: auto;
	width: 100%;
}

.tncbox { 
	float: left;
	width: 12%;
	padding: 5px;
}

.tncdesc {
	float: left;
	width: 88%;
}

.upimg {
	padding: 15px;
	border: 2px solid black;
	border-radius: 4px;
	cursor: pointer;
}

.btn-grp {
	width: 100%;
	padding: 5px;
	display: inline-block;
}

.btn-grp div {
	display: inline-block;
}

#result {
	text-align: center;
}

#imgupcon {
	padding: 20px;
	margin: 10px 0px;
	text-align: center;
}

#output {
	width: 200px;
	height: 200px;
}

#decimg {
	display: none;
}

#size-img, #flipbtn img {
	width: 25px;
	height: 25px;
}

.name-wrapper {
	padding: 4px 2px;
}

.input-wrapper {
	margin: 2px 0px;
}

input.for-input {
	border-radius: 3px;
	border: 2px solid #1A1A1A;
	font-family: "Arial Black";
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	padding: 5px 10px;
}

.req_ind, .err {
	color: red;
}

.succ_input {
	border-color: green !important;
}

.err_input {
	border-color: red !important;
}

@keyframes lds-eclipse {
	  0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	  }
	  50% {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
	  }
	  100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
	  }
}

@-webkit-keyframes lds-eclipse {
	  0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	  }
	  50% {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
	  }
	  100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
	  }
}

.lds-eclipse div {
	  position: absolute;
	  -webkit-animation: lds-eclipse 1.2s linear infinite;
	  animation: lds-eclipse 1.2s linear infinite;
	  width: 80px;
	  height: 80px;
	  top: 60px;
	  left: 60px;
	  border-radius: 50%;
	  box-shadow: 0 3.6px 0 0 #00a31b;
	  -webkit-transform-origin: 40px 41.8px;
	  transform-origin: 40px 41.8px;
}

.lds-eclipse {
	  position: relative;
	  width: 150px !important;
	  height: 150px !important;
	  -webkit-transform: translate(-75px, -75px) scale(0.75) translate(75px, 75px);
	  transform: translate(-75px, -75px) scale(0.75) translate(75px, 75px);
}
